.card {
    width: 350px;
    height: 500px;
    border: 2px solid #a99d9d;
    border-radius: 10px;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: inset 0px 0px 7px 5px #cab5b5;
    position: relative;
    margin-top: 20px;
}

img {
    max-width: 350px;
}

.tecnologias {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 22px;
    top: -30px;
    padding: 10px 20px;
    border: 2px solid #a99d9d;
    background-color: #fff;
    border-radius: 30px;

}

.container-img-tecnologia img {
    width: 35px;
}

.link-projeto {
    width: 100%;
    background-color: #3333ff;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 600;
}

.link-projeto:hover {
    background-color: #ff3333;
}

.logo-react {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}