main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.titulo {
  font-size: 50px;
  text-align: center;
}

.titulo::after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
}

.container-botoes {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.botoes {
  padding: 8px;
  width: 150px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
}

.botoes:hover {
  background-color: #1fca36;
  color: #000;
  font-weight: bold;

}

.botao-ativo {
  background-color: #1fca36;
  color: #000;
  font-weight: bold;
}

.section-cards {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  width: 100%;
}

.container-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 1024px) {
  .container-cards {
    justify-content: center;
  }
}

@media (max-width: 780px) {
  .titulo {
    font-size: 50px;
  }
}