* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px 20px;
}