* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif ;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.titulo {
  font-size: 70px;
  text-align: center;
}

.titulo::after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
}

.container-botoes {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.botoes {
  padding: 10px;
  width: 200px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px 20px;
}

@media (max-width: 780px) {
  .titulo {
    font-size: 50px;
  }
}